<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content>
        <div class="row header">Top venues</div>
        <div class="row" style="">
            <div class="col col-50 cat" style="">Category 1</div>
            <div class="col col-50 cat" style="">Category 2</div>
        </div>

        <div class="row" style="">

        </div>

        <div class="row" style="padding: 0; text-align: center;"><br>
            <div class="col" style=""></div>
        </div>
    </ion-content>
</ion-view>
